<h1>Characters#show</h1>

<p><%= @character.name  %></p>
<p><%= @character.house.name %></p>
<p><%= @character.title %></p>
<p><%= @character.alias %></p>
<p><%= @character.culture %></p>
<p>birth: <%= @character.born %></p>
<p>death: <%= @character.died %></p>
